@CHARSET "UTF-8";
*{margin:0;padding:0;}
html{_text-overflow:ellipsis;overflow-x:hidden;} /*解决IE6下图片抖动*/
ul,ol,dl{list-style:none;}
body{
	font-family: "微软雅黑", Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:normal;
	font-weight:normal;
	font-variant:normal;
	color:#000;
	margin:0;
	padding:0;
}
img{
	border:none;
	border:0;
	outline:none;
	font: inherit;
}
a { 
	color:#000;
	text-decoration: none;	
}
.clear:after{
	height:0;
	content:".";
	display:block;
	visibility:hidden; 
	clear:both; 
	
}
.clear{
	zoom:1;
	clear:both;
}